@use '../abstracts/colors';
@use '../abstracts/vars';

.bgContainer {
  &--header {
    max-height: 14rem;
    background: url(../../img/bg-1660.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: white;
  }

  &--instruct {
    margin: 1rem 0;
    background-color: colors.$veryDarkGreen;
  }
}


.container {
  padding: 1.45rem;
  max-width: 475px;
  margin: 0 auto;

  &--featured {
    background-color: unset;
  }

  &--course {
    background-color: unset;
  }
}