$lightGreen: #c6d5d0;
$veryDarkGreen: #0f2a21;
$categoryTextGray:#dadada;
$darkElementBackground: #101010;
$BodyFontColor: #101010;

$logoBlue: #1a2330;
$orange: #fed23b;

$brightRed: #ff4a35;
$clayRed: #af2e01;
$headerContainerBG: #f7f6ee;
$headingLight: #fdffff;
$headingDark: #101010;

$neonOrange: #ffc700;
$neonGreen: #47ed9e;
$neonPurple: #e7a6ff;
$neonPurpleAccent: #f1d2fc;
$neonBlue: #36adff;

$primaryBackground: #ffffff;
$secondaryBackground: #f0f5ff;