$lightGreen: #c6d5d0;
$veryDarkGreen: #0f2a21;
$headingDark: #101010;
$categoryTextGray:#dadada;

$brightRed: #ff4a35;
$headingLight: #fdffff;
$headingDark: #101010;

$neonOrange: #ffc700;
$neonGreen: #47ed9e;
$neonPurple: #e7a6ff;
$neonBlue: #36adff;

$primaryBackground: #ffffff;
$secondaryBackground: #f0f5ff;