/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
}

body {
  color: #101010;
  background-color: linear-gradiant(#fff, red);
}

a {
  color: #0f2a21;
  text-decoration: none;
}

.dangerText {
  color: #ff4a35;
}

.btn {
  font-weight: 700;
  text-align: center;
  color: #fdffff;
  display: inline-block;
  border: solid 2px #36adff;
  background-color: #36adff;
  padding: 0.25em 0.45em;
  margin: 0.5rem 0;
  cursor: pointer;
  transition: 90ms background-color ease-in-out;
}
.btn:hover {
  background-color: unset;
}
.btn:focus {
  outline: dashed 2px #fdffff;
  border-color: #0f2a21;
}
.btn__save {
  background-color: #47ed9e;
  border-color: #47ed9e;
}
.btn__save:hover {
  background-color: #fdffff;
  color: #101010;
}
.btn__danger {
  background-color: #ff4a35;
  border-color: #ff4a35;
}
.btn__danger:hover {
  background-color: #af2e01;
  border-color: #af2e01;
}
.btn__cancel {
  background-color: #fdffff;
  color: #101010;
}
.btn__cancel:hover {
  color: #fdffff;
  background-color: #36adff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  padding-bottom: 0.7rem;
  padding-bottom: 1.25rem;
}
.nav__logo {
  font-weight: 900;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fdffff;
  background-color: #101010;
  padding: 3px 7px;
}
.nav__logo::before {
  content: url(../img/book.svg);
  position: relative;
  top: 4px;
  padding-right: 5px;
}

.user__link {
  font-weight: 900;
  font-size: 0.89rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #101010;
  background-color: #47ed9e;
  border: solid 4px #47ed9e;
  transition: 90ms background-color ease-in-out;
  padding: 5px 8px;
}
.user__link:hover {
  background-color: #fdffff;
  border: solid 4px #47ed9e;
  color: #101010;
}

.card {
  background-color: #e7a6ff;
  border-radius: 20px;
  padding: 1.75rem;
  padding-bottom: calc(1.75rem + 3px);
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 160ms transform ease-in;
  cursor: pointer;
}
.card__picture {
  max-width: 40%;
}
.card:hover {
  transform: translate(-1px, -2px);
  box-shadow: 1px 1px 3px 1px rgba(90, 90, 90, 0.2);
}
.card:focus {
  outline: none;
  border: solid 3px #fed23b;
  padding-bottom: 1.75rem;
}

.featured {
  box-shadow: 1px 1px 5px 1px rgba(240, 49, 247, 0.1);
  margin: 1.25rem 0;
}

.neonPurple {
  background-color: #e7a6ff;
}

.neonGreen {
  background-color: #47ed9e;
}

.neonBlue {
  background-color: #36adff;
}

.neonOrange {
  background-color: #ffc700;
}

.details {
  max-width: 40%;
  font-weight: 700;
}
.details__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}
.details__cost {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #fdffff;
  margin-bottom: 0.5rem;
}
.details__time {
  font-size: 0.65rem;
  padding: 1px 4px;
  color: #fdffff;
  display: inline-block;
  background-color: #101010;
  border-radius: 20px;
}
.details__time::before {
  content: "\f017";
  font-family: FontAwesome;
  padding-right: 4px;
}

.heading {
  font-size: 0.95rem;
  font-weight: 900;
  margin: 0.75rem 0;
}

.heading--featured {
  padding: 4px 7px;
  display: inline-block;
  font-size: 1.65rem;
  color: #101010;
  background-color: #fdffff;
}

.heading--subtitle {
  font-size: 1.125rem;
  background-color: #fdffff;
  padding: 4px 7px;
  font-weight: 700;
}

.heading--course {
  margin-top: 0;
  text-transform: uppercase;
}

.bgContainer--header {
  min-height: 12rem;
  background: url(../img/header-bg-40-gr.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #101010;
}
.bgContainer--instruct {
  margin: 1rem 0;
  background-color: #0f2a21;
}

.container {
  padding: 1.45rem;
  width: 98%;
  max-width: 375px;
  margin: 0 auto;
  background-color: #fdffff;
}
.container--featured {
  background-color: unset;
  padding-bottom: 0;
}
.container--course {
  background-color: unset;
}

.instruct {
  margin: 1.25 rem 0;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.instruct__img {
  max-width: 40%;
}
.instruct__text {
  font-size: 1.35rem;
  color: #fdffff;
}
.instruct__cta {
  max-width: 50%;
  padding-right: 1rem;
}

.courseContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

.course {
  max-width: 60%;
  font-weight: 700;
}
.course__cost {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #fdffff;
  margin-bottom: 0.5rem;
}
.course__title {
  font-size: 1.75rem;
  line-height: 1.75rem;
  background-color: #fdffff;
  padding: 4px;
  display: inline-block;
  text-align: left;
}
.course__author {
  display: inline-block;
  background-color: #fdffff;
  font-size: 1rem;
  padding: 4px;
}
.course__timeContainer {
  margin-top: 7px;
}
.course__time {
  font-size: 0.65rem;
  padding: 1px 4px;
  color: #fdffff;
  display: inline-block;
  background-color: #101010;
  border-radius: 20px;
}
.course__time::before {
  content: "\f017";
  font-family: FontAwesome;
  padding-right: 4px;
}
.course__picture {
  max-width: 30%;
  padding-left: 0.5rem;
}
.course__controls {
  padding-top: 1rem;
}
.course__controls a {
  color: #fdffff;
  font-weight: normal;
  font-size: 0.8rem;
}
.course__controls a:hover {
  font-weight: 700;
}
.course__controls a:focus {
  outline: dashed 2px #fdffff;
  outline-offset: 2px;
}
.course__controls a + a {
  margin-left: 5px;
}
.course__controls .delete::before {
  padding-right: 3px;
  content: "\f1f8";
  font-family: FontAwesome;
}
.course__controls .edit::before {
  padding-right: 3px;
  padding-top: 2px;
  content: "\f044";
  font-family: FontAwesome;
}

.description__title {
  font-size: 1.75rem;
}
.description__text {
  font-size: 1.025rem;
}

.time {
  max-height: 120px;
  margin: 1rem 0;
  padding: 1rem;
  color: #fdffff;
  background-color: #36adff;
}
.time__timeCount {
  font-weight: 900;
  color: #101010;
  text-transform: uppercase;
}

.materials__title {
  font-size: 1.45rem;
  font-weight: 500;
}
.materials ul {
  padding-left: 0;
}
.materials li {
  list-style: none;
  font-size: 1.25rem;
}
.materials li::before {
  content: "\f18e";
  color: #101010;
  font-family: FontAwesome;
  padding-right: 4px;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  padding-bottom: 0.4rem;
  font-weight: 700;
}
.form__input {
  display: block;
  padding: 9px;
  border: solid 1px #bebcc6;
  border-radius: 4px;
  margin-bottom: 1rem;
  outline: none;
}
.form__error {
  background-color: #fff2f2;
  color: #af2e01;
  border-color: #af2e01;
}
.form__input:focus {
  border-color: #ffc700;
}
.form__btn {
  display: block;
  margin-top: 0;
  text-transform: uppercase;
  background-color: #ffc700;
  border-color: #ffc700;
}
.form__btn:hover {
  color: #101010;
}
.form__message {
  margin-top: 1.75rem;
  padding-top: 1rem;
  border-top: dashed 1px #c6d5d0;
}
.form__message a {
  color: #ffc700;
  font-weight: 700;
  text-decoration: underline;
  transition: 30ms all ease-in;
}
.form__message a:hover {
  text-decoration: none;
  background-color: #47ed9e;
  color: #101010;
  padding: 4px;
}

.errors__title {
  font-weight: 700;
}
.errors__list {
  list-style: none;
  padding-left: 10px;
}
.errors__item::before {
  content: "\f06a";
  font-family: FontAwesome;
  padding-right: 4px;
  color: #ff4a35;
}

.footer {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
