@use '../abstracts/colors';
@use '../abstracts/vars';

.bgContainer {
  &--header {
    min-height: 12rem;
    background: url(../img/bg-1660.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: white;
  }

  &--instruct {
    margin: 1rem 0;
    background-color: colors.$veryDarkGreen;
  }
}


.container {
  padding: 1.45rem;
  width: 98%;
  max-width: 375px;
  margin: 0 auto;
  background-color: colors.$headingLight;

  &--featured {
    background-color: unset;
    padding-bottom: 0;
  }

  &--course {
    background-color: unset;
  }
}