@use '../abstracts/colors';
@use '../abstracts/vars';

.courseContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

// .arrow {
//   font-size: 0.7rem;

//   font-weight: 900;
//   text-transform: uppercase;

//   a,
//   &::before {
//     color: colors.$headingLight;
//   }

//   a:hover {
//     text-decoration: underline;
//   }

//   &::before {
//     content: '\f177';
//     font-family: FontAwesome;
//     padding-right: 4px;
//   }
// }

.course {
  max-width: 60%;
  font-weight: 700;

  &__cost {
    font-size: .85rem;
    text-transform: uppercase;
    color: colors.$headingLight;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.75rem;
    line-height: 1.75rem;
    background-color: colors.$headingLight;
    padding: 4px;
    display: inline-block;
    text-align: left;
  }

  &__author {
    display: inline-block;
    background-color: colors.$headingLight;
    font-size: 1rem;
    padding: 4px;
  }

  &__time {
    font-size: .65rem;
    padding: 1px 4px;
    color: colors.$neonPurpleAccent;
    display: inline-block;
    background-color: colors.$darkElementBackground;
    border-radius: vars.$globalBorderRadius;
  }

  &__time::before {
    content: '\f017';
    font-family: FontAwesome;
    padding-right: 4px;
  }

  &__picture {
    max-width: 30%;
    padding-left: .5rem;
  }

  &__controls {
    padding-top: 1rem;

    a {
      color: colors.$headingLight;
      font-weight: 500;
      font-size: 0.89rem;
    }

    .delete::before {
      padding-right: 3px;
      content: '\f1f8';
      font-family: FontAwesome;
    }

    .edit::before {
      padding-right: 3px;
      content: '\f044';
      font-family: FontAwesome;
    }
  }
}

.courseDetail {}


.description {

  &__title {
    font-size: 1.75rem;
  }

  &__text {
    font-size: 1.025rem;
  }
}

.time {
  max-height: 120px;
  margin: 1rem 0;
  padding: 1rem;
  color: colors.$headingLight;
  background-color: colors.$neonBlue;

  &__title {}

  &__timeCount {
    font-weight: 900;
    color: colors.$headingDark;
    text-transform: uppercase;
  }
}

.materials {

  &__title {
    font-size: 1.45rem;
    font-weight: 500;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    font-size: 1.25rem;
  }

  li::before {
    content: '\f18e';
    color: colors.$headingDark;
    font-family: FontAwesome;
    padding-right: 4px;
  }
}