@use '../abstracts/colors';

.heading {
  font-size: 0.95rem;
  font-weight: 900;
  margin: 0.75rem 0;
}

.heading--featured {
  padding: 4px 7px;
  display: inline-block;
  font-size: 1.65rem;
  color: colors.$headingDark;
  background-color: colors.$headingLight;
}

.heading--course {
  text-transform: uppercase;
}