@use '../abstracts/colors';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;

  &__logo {
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: colors.$headingLight;
    background-color: colors.$headingDark;
    padding: 3px 7px;
  }

  &__logo::before {
    content: url(../img/book.svg);
    position: relative;
    top: 4px;
    padding-right: 5px;
  }
}

.user {
  &__link {
    font-weight: 900;
    font-size: 0.89rem;
    text-transform: uppercase;
    text-decoration: none;
    color: colors.$headingDark;
    background-color: colors.$neonGreen;
    border: solid 4px colors.$neonGreen;
    transition: 90ms background-color ease-in-out;
    padding: 5px 8px;
  }

  &__link:hover {
    background-color: colors.$headingLight;
    border: solid 4px colors.$neonGreen;
    color: colors.$headingDark;
  }
}